<div class="container">
  <form action="/books" method="post">
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author" />
      <div class="form-text">Add book author.</div>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>