<footer class="footer mt-auto py-3 bg-light">
  <div class="container" style="padding-top: 60px;">
    <span class="text-muted">&copy; MyBooks - Mathesis 2022 - <a href="https://plavos.com">Vasilis Plavos</a></span>
  </div>
</footer>