<div class="container">
  <form action="/users" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" id="username" name="username" />
      <div class="form-text">Add your username.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>